@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-layers float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">Subscriptions</h6>
            <h2 class="m-b-20" data-plugin="counterup">1,587</h2>
            <span class="badge badge-success"> +11% </span> <span class="text-muted">From previous period</span>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-paypal float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">Revenue</h6>
            <h2 class="m-b-20">N<span data-plugin="counterup">46,782</span></h2>
            <span class="badge badge-danger"> -29% </span> <span class="text-muted">From previous period</span>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-chart float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">Average</h6>
            <h2 class="m-b-20">N<span data-plugin="counterup">15.9</span></h2>
            <span class="badge badge-pink"> 0% </span> <span class="text-muted">From previous period</span>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="icon-rocket float-right text-muted"></i>
            <h6 class="text-muted text-uppercase m-b-20">Transactions</h6>
            <h2 class="m-b-20" data-plugin="counterup">1,890</h2>
            <span class="badge badge-warning"> +89% </span> <span class="text-muted">Last year</span>
        </div>
    </div>
</div>
<!-- end row -->


<div class="row">
    <div class="col-lg-6 col-xl-8">
        <div class="card-box">

            <h4 class="header-title m-t-0 m-b-20">Statistics</h4>

            <div class="text-center">
                <ul class="list-inline chart-detail-list m-b-0">
                    <li class="list-inline-item">
                        <h6 style="color: #3db9dc;"><i class="zmdi zmdi-circle-o m-r-5"></i>SMS</h6>
                    </li>
                    <li class="list-inline-item">
                        <h6 style="color: #1bb99a;"><i class="zmdi zmdi-triangle-up m-r-5"></i>USSD</h6>
                    </li>
                    <li class="list-inline-item">
                        <h6 style="color: #818a91;"><i class="zmdi zmdi-square-o m-r-5"></i>BANK</h6>
                    </li>
                </ul>
            </div>

            <div id="morris-bar-stacked" class="morris-chart" style="height: 320px;"></div>

        </div>
    </div><!-- end col-->

    <div class="col-lg-6 col-xl-4">
        <div class="card-box">

            <h4 class="header-title m-t-0 m-b-30">Trends Monthly</h4>

            <div class="text-center m-b-20">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-secondary">Today</button>
                    <button type="button" class="btn btn-sm btn-secondary">This Week</button>
                    <button type="button" class="btn btn-sm btn-secondary">Last Week</button>
                </div>
            </div>

            <div id="morris-donut-example" class="morris-chart" style="height: 265px;"></div>

            <div class="text-center">
                <ul class="list-inline chart-detail-list mb-0 m-t-10">
                    <li class="list-inline-item">
                        <h6 style="color: #3db9dc;"><i class="zmdi zmdi-circle-o m-r-5"></i>SMS</h6>
                    </li>
                    <li class="list-inline-item">
                        <h6 style="color: #1bb99a;"><i class="zmdi zmdi-triangle-up m-r-5"></i>USSD</h6>
                    </li>
                    <li class="list-inline-item">
                        <h6 style="color: #818a91;"><i class="zmdi zmdi-square-o m-r-5"></i>BANK</h6>
                    </li>
                </ul>
            </div>

        </div>
    </div><!-- end col-->


</div>
<!-- end row -->


