@using Microsoft.AspNetCore.Identity
@using IPT.Data.Entity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <title>@ViewData["Title"] - IPT.Web</title>
    <!-- App Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">


    

    <!-- App title -->
    <title>Uplon - Bootstrap 4 Responsive Admin Dashboard Template</title>

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="../plugins/morris/morris.css">

    <!-- Switchery css -->
    <link href="/plugins/switchery/switchery.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App CSS -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Modernizr js -->
    <script src="/js/modernizr.min.js"></script>
    <link rel="stylesheet" href="/css/loading.css">
    <link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/sweetAlert/sweetalert.min.js"></script>

</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="index.html" class="logo">
                    <i class="zmdi zmdi-group-work icon-c-logo"></i>
                    <span>IPay Tax Admin</span>
                </a>
            </div>

            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">





                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small>Welcome ! @UserManager.GetUserName(User)</small> </h5>
                            </div>


                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="dropdown-item notify-item">
                                    <i class="zmdi zmdi-power"></i>
                                    <span>Logout</span>
                                </button>
                            </form>
                            <!-- item-->
                            @*<a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="zmdi zmdi-power"></i> <span>Logout</span>
                            </a>*@

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="zmdi zmdi-menu"></i>
                        </button>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <ul>
                        <li class="text-muted menu-title">Navigation</li>

                        <li class="has_sub">
                            <a asp-controller="home"   class="waves-effect"><span class="badge badge-pill badge-primary float-right">1</span><i class="zmdi zmdi-view-dashboard"></i><span> Dashboard </span> </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-format-underlined"></i> <span> Admin </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Account" asp-action="Roles" class="nav-link">Roles</a></li>
                                <li><a asp-controller="Account" asp-action="Users" class="nav-link">Users</a></li>
                                <li><a asp-controller="Account" asp-action="AssignUserRole" class="nav-link">Assign User Role</a></li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-nature-people"></i> <span> Tax Payers </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Taxpayer" asp-action="Index">List</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-card"></i> <span> Payments </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-controller="Payment" asp-action="Index">List</a></li>
                            </ul>
                        </li>



                        <li class="has_sub">
                            <a  class="waves-effect"><i class="zmdi zmdi-chart"></i><span> Reports </span> <span class="menu-arrow"></span></a>
                            @*<ul class="list-unstyled">
                                <li><a href="chart-flot.html">Flot Chart</a></li>
                                <li><a href="chart-morris.html">Morris Chart</a></li>
                                <li><a href="chart-chartjs.html">Chartjs</a></li>
                                <li><a href="chart-peity.html">Peity Charts</a></li>
                                <li><a href="chart-chartist.html">Chartist Charts</a></li>
                                <li><a href="chart-c3.html">C3 Charts</a></li>
                                <li><a href="chart-sparkline.html">Sparkline charts</a></li>
                                <li><a href="chart-knob.html">Jquery Knob</a></li>
                            </ul>*@
                        </li>



                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title-box">
                                <h4 class="page-title float-left">@ViewData["Title"]</h4>

                                @*<ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Uplon</a></li>
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>*@

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-12">
                            @*<partial name="_CookieConsentPartial" />*@
                            <partial name="_NotificationPanel" />
                            @RenderBody()
                            <partial name="_Loading" />
                         </div>
                   </div>
                 </div> <!-- container -->

              </div> <!-- content -->



         </div>
        <!-- End content-page -->
        <!-- /Right-bar -->

        <footer class="footer">
            2016 - 2019 © Uplon.
        </footer>

    </div>
    <!-- END wrapper -->


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/detect.js"></script>
    <script src="/js/fastclick.js"></script>
    <script src="/js/jquery.blockUI.js"></script>
    <script src="/js/waves.js"></script>
    <script src="/js/jquery.nicescroll.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="../plugins/switchery/switchery.min.js"></script>

    <!--Morris Chart-->
    <script src="../plugins/morris/morris.min.js"></script>
    <script src="../plugins/raphael/raphael.min.js"></script>

    <!-- Counter Up  -->
    <script src="../plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="../plugins/counterup/jquery.counterup.js"></script>

    <!-- Page specific js -->
    <script src="/pages/jquery.dashboard.js"></script>

    <!-- App js -->
    <script src="/js/jquery.core.js"></script>
    <script src="/js/jquery.app.js"></script>

    <script type="text/javascript">
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
        function displayBusyIndicator() {
            $('.loading').show();
        }
    </script>
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
