@model IPT.Web.Models.AccountModel.RoleViewModel
@{
    ViewData["Title"] = "Roles";
}

<div class="row row-sm mg-t-20">
    <div class="col-xl-12">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Role</h6>
            <p class="mg-b-20 mg-sm-b-30"> Create Role</p>
            <form role="form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <label class="col-sm-1 form-control-label">Name: <span class="tx-danger">*</span></label>
                    <div class="col-sm-4 mg-t-10 mg-sm-t-0">
                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter Role Name" required>
                    </div>
                </div><!-- row -->
           

                <div class="form-layout-footer mg-t-30">
                    <button class="btn btn-info mg-r-5">Submit Form</button>
                    <a class="btn btn-secondary" asp-controller="Account" asp-action="Roles">Cancel</a>
                </div><!-- form-layout-footer -->
            </form>
        </div><!-- card -->
    </div><!-- col-6 -->
 
</div>